@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

form label {
    margin-right: 5px;
}

.calcular {
    display: block;
    margin: auto;
}

div#resultados_box {
    visibility: hidden;
    display: flex;
    justify-content: center;
}

.resultados {
    border: solid 2px black;
    width: fit-content;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

p#erro {
    color: red;
}
